<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ilya.afdf" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityTwo"
            android:label="@string/title_activity_activity_two"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity3"
            android:label="@string/title_activity_3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity4"
            android:label="@string/title_activity_4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Rezervace"
            android:label="@string/title_activity_rezervace"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel_sl"
            android:label="@string/title_activity_hotel_sl"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel_Info"
            android:label="@string/title_activity_hotel__info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Kontakty"
            android:label="@string/title_activity_kontakty"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
